/* 浅色主题 */
.body.vscode-light {
  background: #252526;
  color: black;
}

/* 深色主题 */
body.vscode-dark {
  background: #252526;
  color: white;
}
/* 高对比度主题 */
body.vscode-high-contrast {
  background: #2c2c4d;
  color: red;
}

.styled-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  border-radius: 12px;
}

.styled-table thead tr {
  background-color: #207564;
  color: #ffffff;
  text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
  border-bottom: 1px solid;
}

.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid;
}

.styled-table tbody tr.active-row {
  font-weight: bold;
}

.box {
  height: 240px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.btn {
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  padding: 11px 16px;
  cursor: pointer;
  border-width: 1px;
  border-radius: 2px;
  font-size: 14px;
  font-weight: 400;
  box-shadow: 0px 10px 20px -6px rgba(0, 0, 0, 0.12);
  margin-top: 5px;
}

.btn.btn-primary {
  background: #3e64ff;
  border-color: #3e64ff;
  color: #fff;
}

textarea {
  width: 500px;
  height: 100px;
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background: none repeat scroll 0 0 rgba(255, 255, 255, 0.47);
  border-color: -moz-use-text-color #FFFFFF #FFFFFF -moz-use-text-color;
  border-image: none;
  border-radius: 6px 6px 6px 6px;
  border-style: none solid solid none;
  border-width: medium 1px 1px medium;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12) inset;
  color: #555555;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 1em;
  line-height: 1.4em;
  padding: 5px 8px;
  transition: background-color 0.2s ease 0s;
}


textarea:focus {
    background: none repeat scroll 0 0 #FFFFFF;
    outline-width: 0;
}

.input {
  min-width: 40vw;
  margin: 4px auto 10px;
  padding: 10px;
  border: 0;
  background: #eeeeee;
  transition: background-color 0.2s ease 0s;
}

.input:focus {
  background: #fff;
}